* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black,purple);
}

.login--rect {
    background-color: rgb(92, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 450px;
    height: 350px;
    border-radius: 45px;
}

.login--rect input {
    margin-bottom: 20px;
}

.login--rect h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 0px;
}

