* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(black,purple);
}

.login--rect {
    background-color: rgb(92, 92, 92);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 35%;
    border-radius: 45px;
}

input {
    margin-bottom: 20px;
}

.login--rect h1 {
    font-size: 45px;
}

